
#hz {
  position: absolute;
  z-index: 9;
  text-align: left;
  border: 1px solid silver;
}
  
#hz p {padding:5px;}

#hzheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}